<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- set value to "US" or "Metric to select the units to be used in FCalc -->
    <add key="Units" value="Metric" />
    <!-- set value to "Show" or "Hide" to select if Davis coefficients should be vissible or not -->
    <add key="Davis" value="Hide" />
  </appSettings>
</configuration>
